footer {
    background-color: darkgrey;
    margin-top: 50px;
}

.content {
    padding: 10px;
    background: #eee;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content li:nth-child(even) {
    background: lavender;
}

.content li:nth-child(odd) {
    background: gainsboro;
}

.content li {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    list-style: none;
    margin-left: -30px;
}

.tabs a span {
     display: inline-block;
     border-radius: 5px 5px 0 0;
     width: 100px;
     margin-right: 10px;
     text-align: center;
     background: #ddd;
     padding: 5px;
}

.tabs a span.active {
     background: #eee;
   }

.content input, button {
    border-radius: 5px;
}
