<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wikipedia Viewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="root" class="container-fluid">
      <div class="row-content">
        <div class="search-aria col-sm-12">
          <a target="_blank" href="https://en.wikipedia.org/wiki/Special:Random"><p>Click here for a random article</p></a>
          <a href="#"><img class="img-search" src="img/search-icon.png" alt="Search"></a>

          <p>Click icon to search...</p>
        </div>
        <div class="form-group col-sm-6 col-sm-offset-3">
          <input autofocus class="form-control col-sm-6" type="text" v-model="message" v-on:keyup.enter="getResult" placeholder="Search text">
        </div>
      </div>
      <div class="row-content">
        <div class="card col-sm-10 col-sm-offset-1" v-for="item in res">
          <a target="_blank" style="display:block" v-bind:href="item.url">
            <ul>
              <li>
                <h2 style="font-size: 1.2em; text-align: left">{{ item.title }}</h2>
                <p style="font-size: 1.2em; text-align: left">{{ item.content }}</p>
              </li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </body>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js" charset="utf-8"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="app.js" charset="utf-8"></script>
</html>
