body {
  background-color: #0B2B41;
}

p {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

.search-aria {
  /*margin-top: 350px;*/
  text-align: center;
  color: #b57654;
}
.img-search {
  max-width: 80px;
}

.card {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e6e6e7;
}

.card a:link {
    text-decoration: none;
}

a:hover {
  text-decoration: none;
}
