body {
  background-color: #222222;
}
h1 {
  color: #aaa;
  text-align: center;
  font-family: 'Nunito';
  font-size: 70px;
}

h2 {
  color: #A09AFF;
  text-align: center;
  font-family: 'Nunito';
  font-size: 40px;
}

.col-xs-8 {
  padding: 60px;
  color: #aaa;
  text-align: center;
  font-family: 'Nunito';
  font-size: 30px;
}

.geo {
  color: white;
}
